body, html {
	height: 100%;
	margin: 0;
	font-family: "Impact";
	background-color: #e6fff2;
}

.container {
	padding: 0;
}

.btn:hover {
	color: #00FF00;
}

.form-group {
	margin: 0;
	border-radius: 0;
}

.beer_brewery_search {
	padding-left: 0;

}

.btn {
	border-radius: 0;
}



.title {
	margin: 0px;

}

.title a {
	text-decoration: none;
	color: #ffffff;
}

.title a:hover {
	color: #006600;
}

.main-content {
	margin-top: 20px;
}

#username {
	text-transform: uppercase;
	color: #006600;
}

#friends {
	text-transform: uppercase;
	color: #006600;
}

.profile .name, .friends-list .name {
	text-transform: capitalize;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
	color: #000000;


}

.friends-list .name {
	text-decoration: none;
	padding: 10px;
}

.friends-list .friends-name {
	margin: 5px;
}

.friends-list .name:hover {
	border: 2px solid #00FF00;
	color: #00FF00;

}

.column1 .favorite_button:hover {
	border: 2px solid #00FF00;
	color: #00FF00;

}

.column1 .favorite_button {
	text-decoration: none;
	padding: 10px;
	color: #006600;
}

.search_title {
	border-bottom: 1px solid black;
	margin-bottom: 20px;
	color: #006600;
}

.profile .logout {
	margin-top: 10px;
}

.column1, .column2 {
	background-color: #ffffff;
	border: 1px solid black;
}

.column1 {
	padding: 20px;
}

.column2 {
	padding: 20px;
}